.fa-stop {
  color: red;
}
.fa-play {
  color: #18bc9c;
}

/* prevent having to double click on mobile to click buttons or start/stop a task */
@media (hover: hover) {
  #task-list .row-task:hover {
    background-color: #eee;
  }

  .btn-edit:hover:enabled {
    color: blue;
  }

  .btn-delete:hover:enabled {
    color: red;
  }
}
