#task-list .row-task:hover {
  background-color: #EEE;
}

.fa-stop {
  color: red;
}
.fa-play {
  color: #18BC9C;
}

.btn-edit:hover:enabled {
  color: blue;
}

.btn-delete:hover:enabled {
  color: red;
}