#task-list .row-task:hover {
  background-color: #EEE;
}

.fa-stop {
  color: red;
}
.fa-play {
  color: #18BC9C;
}

.fa-pencil-alt {
  padding: 0 10px;
}
.fa-pencil-alt:hover {
  color: blue;
  padding: 0 10px;
}